@import 'tailwindcss';

.carousel{
  position: absolute;
  top:50%;
  left:50%;
  flex:1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding:1rem;
  width:400px;
  & img{
    padding:1rem;
  }
}