@import 'tailwindcss';

:root{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  font-size: 1.5rem;
  color-scheme: light dark;

}
*, *::before, *::after{
  box-sizing: border-box;
  /* outline: 1px solid limegreen; */
}
html{
  height:100%;
  font-size: 62.5%;
}
body{
  min-height:100%;
  margin:0;
  padding:0;
}
h1,h2,h3,h4,h5,h6,a,p,li,ul, img{
  margin:0;
  padding:0;
}
img{
  display: block;
  max-width: 100%;
  height:auto;
}
footer{
  margin-top:auto;
  display: flex;
}

button{
  cursor: pointer;
}



